

<div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control"  name="name" value="<%= user.name%>" autofocus required>
</div>

<div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control"  name="email" value="<%= user.email%>" autofocus required>
</div>

<div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control"  name="password" value="<%= user.password%>"autofocus required>
</div>

<div class="form-group">
    <label>Check Password</label>
    <input type="password" class="form-control" name="repassword" value="<%= user.repassword%>" autofocus required>
</div>

<div class="form-group">
    <label>Birthday</label>
    <input type="date" class="form-control" name="birthday" value="<%= user.birthday%>" autofocus required>
</div>

<div class="form-group">
    <label>Age</label>
    <input type="number" class="form-control" name="age" value="<%= user.age%>" autofocus required>
</div>

<div class="form-group text-right ">

        <a href="/" class="btn btn-danger" >Cancel</a>
        <button type="submit" class="btn btn-success ">Create</button>

</div>